.main:hover {
    opacity: 0.69;
  }

.main {
    background-image: url("images/Banner\ Image.png");
    width: 100%;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    border-radius:  20px;
}
.main> :nth-child(1){
    font-family: "Poppins", sans-serif;
    font-weight:400;
    font-size: 52px;
    text-align: center;
    color: #ffffff;
    display: block;
    padding-top: 22vh;
}
.main> :nth-child(2){
font-weight: bolder;
font-size: 80px;
color: #ffffff;
padding-left: 400px;

}
small{
font-weight: bolder;
font-size: 80px;
color: #ffffff;
padding-left: 450px;
}
.content{
    display: flex;
    flex-direction: column;
}
.off{
    margin-left: 470px;
    padding-top: 60px;
    font-weight: bolder;
    font-size: 6.5rem;
    color: #ff0000;
    font-family: "Poppins", sans-serif;
}
.holiday{
    margin-left: 480px;
    padding-top: 15px;
    color: #ff0000;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
.all{
    margin-left: 480px;
    padding-top: 0px;
    color: #070211;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 900;

    
}

.new-year{
    align-items: center;
    padding-top: 8vh;
    margin-left: 55vh;
    margin-right: 55vh;
    margin-bottom: 12vh;
    height: 500;
    width: 802;
}
.group-30{
    
    background-image: url("images/Rectangle\ 1.png");
    margin-left: 140vh;
    width: 424px;
    height: 430px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    
}

.group-4{
  padding-right: 65%;
  padding-bottom: 42%;
  padding-top: 13%;
}
/*.group-75{
    background-image: url("images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 232px;
    margin-left: 1px;
    position: relative;
    display: flex;
}
.group-6{
    height: 500px;
    width: 600px;
}*/
.text-img{
    background-image: url("images/Vectorrr.png");
    width: 1320px;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-right: 90px;
}

.banner-two> :nth-child(1){
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 10vh;
    text-align: left;
    color: #ffffff;
    display: flex;
    padding-top: 2vh;
    padding-left: 20vh;
}
.banner-two> :nth-child(2){
    font-family: "Poppins", sans-serif;
    font-size: 3vh;
    color: #ffffff;
    display: block;
    padding-top: 6.5vh;
    padding-left: 20vh;
}

.banner-two> :nth-child(3){
    font-family: "Poppins", sans-serif;
    font-size: 4vh;
    color: #ffffff;
    padding-left: 30vh;
    padding-top: 5vh;
    display: flex;
}

.banner-three{
    background-image: linear-gradient(lightpink, white);
    width: 1320px;
    height: 400px;
    border-radius: 20px;
    margin-top: 10vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: #070211;
   }

   .banner-three> :nth-child(1){
    display: flex;
    padding-left: 87vh;
    padding-top: 12vh;

   }
   .banner-three> :nth-child(2){
    display: flex;
    padding-left: 79vh;
    padding-top: 2vh;
   }
   .banner-three> :nth-child(3){
    display: flex;
    padding-left: 74vh;
    padding-top: 2vh;
   }
   .banner-three> :nth-child(4){
    display: flex;
    padding-left: 95vh;
    padding-top: 7vh;
   }
   .lal{
    background-color: #ff0000;
    height: 45px;
    width: 110px;
    border: none;
    border-radius: 1vh;
    text-align: center;
    color: white;
    font-size: medium;
   }
  
.red{
    color: #ff0000;
}
.b-border{
    border: 10px solid red;
    max-height: 465px;
    max-width: 465px;
    border-radius: 50%;
    padding: 6vh;
}
.beg-footer{
    background-color: rgb(248, 207, 213);
    max-height: 616px;
    width: 1320px;
    margin-top: 60px;
    margin-left: 7px;
    margin-right: 7px;
}
.mail-letter{
    margin-left: 45%;
}
.user-gmail{
height: 61px;
width: 380px;
border-radius: 30px 0px 0px 30px;

}
.Subscribe{
    background-color: #ff0000;
    height: 61px;
    width: 160px;
    border-radius: 0px 30px 30px 0px;
    color: white;
    margin-bottom: 30px;
}
